<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeff.swap" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    // This directive is for the Google Play store saying to only offer the app to people who have cameras on their devices
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name="com.example.jeff.swap.MSGReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="com.example.jeff.swap.MSGService" />
        <activity
            android:name="com.example.jeff.swap.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.ChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.PostUploadActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.PostListActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.PostShowActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.SearchActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.TermsOfServiceActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.example.jeff.swap.activities.PaymentActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeff.swap.activities.MainActivity"/>
        </activity>
    </application>

</manifest>
